@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    display:flex;
    flex-direction: column;
    min-height: 100%;
    background-color:#c0c8cd;
    background-image: url(xxx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

html {
    height: 100%;
    min-height: 100%; 
 }

:root { 
    --fonte01:'Passion One', cursive;
    --fonte02:'Sriracha', cursive;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 170px;
    
     
      
    
}
header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte01);
    font-size:50px
}
#xxx {
    text-align: left;
    
    
    
  
   
    
    
}
#caveira {
    padding-top: 15px;
   
    
    
}


/*nav {
    background-color: #0c4b72;
    padding: 10px; 
} */  
    

header a {
    color: #c0c8cd;    
    margin-left: 20px; 
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    
    
    
    
}
header a:hover, footer a:hover {
    background-color:#c0c8cd28;
    
}
h1 {
    font-family: var(--fonte02);
    font-size: 30px;
    padding-bottom: 20px;

}
section {
    background-color: white;
    max-width: 700px;
    min-width: 100px;
    height: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    text-align: justify;
    box-shadow: 1px 1px 10px 1px  #666768;
    font-size: 17px;
    line-height: 30px;
    text-indent: 15px; 
         

}

main {
    padding-left: 20px;
    padding-right: 20px;
    
    
    
}
article {
    background-color: #c0c8cd;
    padding: 20px;
    border-radius: 5px;
    
    
}
table {
    width: 400px;
    height: 100px;
    border-collapse: collapse;
    margin: auto;
    
        
}
td {
    border: solid 1px;
    padding: 5px;
    
    

}
footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 20px;
    font-family: var(--fonte03);
    font-size: 20px;
    
}
footer a {
    color: #c0c8cd;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}


